.input-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin: 20px auto;
}

.input-container input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 0.2px solid #4d4b4b;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #3e8e41;
}

.demo-child {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}

.demo-child p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
