<!-- <div class="app-header">
  <app-header></app-header>
</div> -->
<div
  id="homepageCarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <!-- <app-header></app-header> -->
      <img
        src="assets/carousel/image1.jpg"
        class="d-block w-100"
        alt="First Slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Help the Genius</h2>
        <p>Start and Invest in Good Genius products to help grow the world.</p>
        <button class="btn btn-light" (click)="navigateToProjects()">
          Explore Projects
        </button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img
        src="assets/carousel/image2.jpg"
        class="d-block w-100"
        alt="Second Slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Help the Genius</h2>
        <p>Start and Invest in Good Genius products to help grow the world.</p>
        <button class="btn btn-light" (click)="navigateToProjects()">
          Explore Projects
        </button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img
        src="assets/carousel/image3.jpg"
        class="d-block w-100"
        alt="Third Slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Help the Genius</h2>
        <p>Start and Invest in Good Genius products to help grow the world.</p>
        <button class="btn btn-light" (click)="navigateToProjects()">
          Explore Projects
        </button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img
        src="assets/carousel/image4.jpg"
        class="d-block w-100"
        alt="Fourth Slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Help the Genius</h2>
        <p>Start and Invest in Good Genius products to help grow the world.</p>
        <button class="btn btn-light" (click)="navigateToProjects()">
          Explore Projects
        </button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img
        src="assets/carousel/image5.jpg"
        class="d-block w-100"
        alt="Fifth Slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h2>Help the Genius</h2>
        <p>Start and Invest in Good Genius products to help grow the world.</p>
        <button class="btn btn-light" (click)="navigateToProjects()">
          Explore Projects
        </button>
      </div>
    </div>
  </div>
</div>
<app-how-it-works></app-how-it-works>
