.container {
  background-image: url("../../../../public/assets/crowdfundbg.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.btn:hover {
  background-color: #3e8e41;
}
